/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

.createaccountcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e7dfd4;
}

.createaccountform {
    width: 40%;
    background: #e7dfd4;
    padding: 40px;
    border-radius: 20px;
    border-color: #626d6f;
    border-style: solid;
    text-align: center;
    margin-top: 15px;
}

.createaccountformh2{
    color: #626d6f;
    font-weight: bolder;
    margin-bottom: 10px;
}

.createaccountformtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.createaccountformlabel {
    margin-bottom: 8px; 
    font-weight: bolder;
    color: #626d6f;
}

.createaccountforminput {
    width: 100%; 
    border-radius: 5px;
    border-color: #626d6f;
    border-style: solid;
    padding: 8px; 
    box-sizing: border-box; 
}

.createaccountformbutton {
    background-color: #626d6f;
    font-weight: bold;
    color: #e7dfd4;
    border: none;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.createaccountformbutton:hover {
    color: #626d6f;
    background-color: #e7dfd4;
}

.linktologin {
    color: #626d6f;
}

.logocreateaccount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 370px;
    margin-bottom: 20px;
}