.top-bar {
    padding: 10px;
    height: 60px;
}

.home-logo {
    height: auto;
    width: auto;
    object-fit: contain;
    max-height: 100%;
}

.greeting {
    padding: 20px;
    height: 120px;
}

.thumbnail {
    height: auto;
    width: auto;
    object-fit: contain;
    max-width: 150px;
}

h1 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1rem;
}
