.home {
    transition: all 0.5s ease;
}

.home.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    transition: all 0.5s ease;
}

.home .main-content {
    position: relative;
    background-color: #eee;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    height: 100vh;
}

.home-sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

/* ============================ CSS for sidebar ============================= */

.home-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: #212529;
    padding: 0.4rem 0.8rem;
    transition: all .5s ease;
    overflow: hidden;
    scrollbar-gutter: stable;
}

.home-sidebar:hover {
    overflow-y: scroll;
}

.home-sidebar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.home-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.home-sidebar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.home-sidebar::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

.home-sidebar.active {
    width: 250px;
}

.home-sidebar .app-logo {
    width: 150px;
    height: auto;
}

.home-sidebar .collapse-btn {
    position: absolute;
    color: white;
    top: .4rem;
    left: 53%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.home-sidebar.active .collapse-btn {
    left: 90%;
}

.home-sidebar .top .app-logo {
    display: flex;
    height: 50px;
    width: auto;
    align-items: center;
    opacity: 0;
}

.home-sidebar.active .top .app-logo {
    opacity: 1;
}

.home-sidebar .dropdown {
    display: flex;
    align-items: center;
    color: white;
    margin: 0.8rem;
    cursor: pointer;
}

.home-sidebar .dropdown i {
    margin-bottom: 0;
}

.home-sidebar .dropdown .username {
    opacity: 0;
    color: white;
    font-weight: 600;
}

.home-sidebar.active .dropdown .username {
    opacity: 1;
}

.home-sidebar .pagelist {
    margin: 0;
    padding: 0;
}

.home-sidebar .pagelist .page {
    position: relative;
    left: 2px;
    list-style-type: none;
    height: 50px;
    margin: 8px 0;
    line-height: 50px;
    cursor: pointer;
}

.home-sidebar .pagelist .page div {
    color: white;
    display: flex;
    border-radius: 0.3rem;
}

.home-sidebar .pagelist .page div:hover {
    background-color: white;
    color: #12171e;
}

.home-sidebar .pagelist .page div i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.home-sidebar .pagelist .page div .page-name {
    white-space: nowrap;
    opacity: 0;
}

.home-sidebar.active .pagelist .page div .page-name {
    opacity: 1;
}

/* ============================ CSS for utility bar ============================== */

.home-utilities {
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
    background-color: #fafafa;
}

.home-utilities .user {
    margin-right: auto;
}

.home-utilities .user .user-info {
    margin-right:  2rem;
}

.home-utilities .utilities ul {
    margin-bottom: 0;
    list-style: none;
}

.home-utilities .utilities li {
    display: inline-block;
    padding: 0px 20px;
}

.home-utilities .utilities .util-btn {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.home-utilities .utilities .util-btn:hover {
    color: #0088a9;
}

.home-utilities .utilities .dropdown-menu li {
    cursor: pointer;
    padding: 5px 20px;
    width: 100%;
}

.home-utilities .utilities .dropdown-menu li:hover {
    background-color: #f8f9fa;
}

.home-utilities .utilities .dropdown-menu li a {
    color: inherit;
}

.settings-popup {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 800px;
    padding: 5%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    display: none;
    opacity: 0;
    transition: 0.5s;
}

.settings-popup.active {
    top: 50%;
    display: block;
    opacity: 1;
}

.settings-popup .header {
    margin-bottom: 40px;
}

.settings-popup .header .page-name {
    color: gray;
    font-size: 15px;
}

.settings-popup form input {
    margin: 10px 0px;
}

.settings-popup form button {
    margin-top: 20px;
    margin-right: 15px;
}
