@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #626d6f;
    font-family: "Montserrat", sans-serif;
}

.login-form {
    width: 30%;
    background: #626d6f;
    padding: 20px;
    border-radius: 20px;
    border-color: #e7dfd4;
    border-style: solid;
    text-align: center;
}

.login-form h2{
    font-family: "Montserrat", sans-serif;
    color: #e7dfd4;
    font-weight: bolder;
}

.login-form-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-form label {
    margin-bottom: 8px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #e7dfd4;
}

.login-form input{
    width: 100%; 
    border-radius: 5px;
    border-color: #e7dfd4;
    border-style: solid;
    padding: 8px; 
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
}

.login-form button {
    background-color: #e7dfd4;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #626d6f;
    border: none;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    color: #e7dfd4;
    background-color: #e7dfd4;
}

.link-to-create-account {
    color: #e7dfd4;
    font-family: "Montserrat", sans-serif;
}

.logo-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 375px;
    padding-bottom: 50px;
}